* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul li {
  list-style-type: none;
}

img {
  width: 100%;
}

h2 {
  text-align: center;
  margin: 35px auto;
  font-weight: 600;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}
