.input-container {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 20px;

  input {
    width: 100%;
    padding: 10px;
    outline: none;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
  }

  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }

}
