<!-- <div class="mt-5 pt-5 pb-5 footer  bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>Heading</h2>
        <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis
          quam tristique convallis </p>
        <p>
          <a href="#"><i class="fa fa-facebook-square mr-1"></i></a>
          <a href="#"><i class="fa fa-linkedin-square"></i></a>
        </p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <li>- <a href="#">Lorem ipsum</a></li>
          <li>- <a href="#">Nam mauris velit</a></li>
          <li>- <a href="#">Etiam vitae mauris</a></li>
          <li>- <a href="#">Fusce scelerisque</a></li>
          <li>- <a href="#">Sed faucibus</a></li>
          <li>- <a href="#">Mauris efficitur nulla</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
        <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</div> -->
<footer class="page-footer">
  <section class="footer-top">
    <div class="container">
      <section class="footer-content row">
        <div class="footer-item col-6">
          <div class="pr-3">
            <h3 class="footer-item-title">Tin tức</h3>
             <div class="footer-item-detail d-flex">
              <!-- <img class="footer-item-img" src="assets/images/footer1.png" alt=""> -->
              <p class="footer-item-text">Đi hết những nơi này bạn mới cảm nhận hết cái đẹp, sự năng động 
                của thành phố du lịch biển Đà Nẵng. Vì thế đừng ngại quay lại Đà Nẵng nhiều lần để đi hết những địa điểm kể trên nhé!</p>
            </div>
          </div>          
        </div>
        <div class="footer-item col-3">
          <div class="pr-3">
            <h3 class="footer-item-title">Hỗ trợ</h3>
            <div>
              <p class="footer-item-text">Gửi cho chúng tôi ý kiến góp ý của bạn để trang web ngày càng hoàn thiện và phát triển</p>
              <form action="" class="form-comment d-flex">
                <textarea class="footer-comment">Viết tại đây...</textarea>
                <button class="btn btn-send"><i class="fa fa-paper-plane"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-item col-3">
          <div class="pr-3">
            <div class="d-flex align-center">
              <h3 class="footer-item-title footer-item-end">Thông tin website</h3>
            </div>
            <ul class="footer-item-list">
              <p class="footer-item-text">
                Trang web dùng để hỗ trợ khách hàng trong việc tìm kiếm, tham khảo,
                 khảo xát cái địa điểm du lịch, nhằm thuận tiện cho việc sắp xếp đi lại, ăn ở,
                sở thích cá nhân của khách du lịch, quảng bá hình ảnh du lịch.</p>
            </ul>
          </div>
        </div>
      </section>
      <section class="footer-bottom">
        <p class="text-coppy d-flex jc-center text-center mg-auto">Copyright Marin Bookworks © 2019 - 2020<br>
          </p>
      </section>
    </div>
  </section>
</footer>
