<div class="page">
  <div class="wrapper">
    <div id="formContent">

      <h2>Đăng ký</h2>
      <form #templateForm="ngForm" (ngSubmit)="doRegister(templateForm)">

        <div class="input-container">
          <i class="fa fa-user icon"></i>
          <input type="text" id="fullName" name="fullName" class={{className}} placeholder="Họ và tên" minlength="8"
            #resultName="ngModel" [(ngModel)]="fullName" required>
        </div>

        <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input type="email" id="email" class={{classMail}} name="email" placeholder="Email đăng ký"
            #resultMail="ngModel" [(ngModel)]="email" required>
        </div>

        <div class="input-container">
          <i class="fa fa-key icon"></i>
          <input type="password" id="password" name="pass" placeholder="Mật khẩu" #resultPass="ngModel"
            class={{classPass}} [(ngModel)]="pass" required>
        </div>
        <div class="input-container">
          <i class="fa fa-key icon"></i>
          <input type="password" id="rePass" name="rePass" placeholder="Xác nhận mật khẩu" #resultRePass="ngModel"
            class={{classPass}} [(ngModel)]="rePass" required>
        </div>

        <button type="submit" class="btn-submit">Đăng ký</button>
      </form>
    </div>
  </div>
</div>
